<div class="features">
  <h1 class="features__heading">Host on the Cloud to Keep Growing</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, optio?
  </p>
  <div class="grid--1X2">
    <div class="first--side">
      <div class="svg--container">
        <svg class="svg--icon">
          <use xlink:href="./images/sprite.svg#easy"></use>
        </svg>
      </div>
      <h1>Super Easy to Use</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        perspiciatis similique natus dolores
      </p>
      <h2 class="arrow">LEARN MORE</h2>
    </div>
    <div class="second--side">
      <img class="easy--img" src="./images/easy@2x.webp" alt="" />
    </div>
  </div>
  <div class="grid--1X2">
    <div class="first--side">
      <div class="svg--container">
        <svg class="svg--icon">
          <use xlink:href="./images/sprite.svg#computer"></use>
        </svg>
      </div>
      <h1>Simply Fast websites</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        perspiciatis similique natus dolores
      </p>
      <h2 class="arrow">LEARN MORE</h2>
    </div>
    <div class="second--side">
      <img class="easy--img" src="./images/fast@2x.jpg" alt="" />
    </div>
  </div>
  <div class="grid--1X2">
    <div class="first--side">
      <div class="svg--container">
        <svg class="svg--icon">
          <use xlink:href="./images/sprite.svg#wordpress"></use>
        </svg>
      </div>
      <h1>WordPress made Easy</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        perspiciatis similique natus dolores
      </p>
      <h2 class="arrow">LEARN MORE</h2>
    </div>
    <div class="second--side">
      <img class="easy--img" src="./images/wordpress.jpg" alt="" />
    </div>
  </div>
  <div class="grid--1X2">
    <div class="first--side">
      <div class="svg--container">
        <svg class="svg--icon">
          <use xlink:href="./images/sprite.svg#clock"></use>
        </svg>
      </div>
      <h1>24/7 Expert Support</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        perspiciatis similique natus dolores
      </p>
      <h2 class="arrow">LEARN MORE</h2>
    </div>
    <div class="second--side">
      <img class="easy--img" src="./images/support.jpg" alt="" />
    </div>
  </div>
</div>
