<div class="div--panel">
  <h1>User-friendly Control Panel</h1>
  <div class="panel">
    <div class="panel__first">
      <div><img class="panel__img" src="./images/ipad.png" alt="" /></div>
    </div>
    <div>
      <div class="panel__second">
        <div class="panel__content">
          <div class="container">
            <svg class="svg--icon icon--blue">
              <use xlink:href="./images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div>
            <h2 class="panel--h2">Easy start and Management Updates</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae tenetur nulla voluptatum voluptatibus optio. Quisquam
              impedit
            </p>
          </div>
        </div>
        <div class="panel__content">
          <div class="container">
            <svg class="svg--icon icon--blue">
              <use xlink:href="./images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div>
            <h2 class="panel--h2">Dynamic caching and more</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae tenetur nulla voluptatum voluptatibus optio. Quisquam
              impedit
            </p>
          </div>
        </div>
        <div class="panel__content">
          <div class="container">
            <svg class="svg--icon icon--blue">
              <use xlink:href="./images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div>
            <h2 class="panel--h2">Staging GIT & WP-CLi</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae tenetur nulla voluptatum voluptatibus optio. Quisquam
              impedit
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
