<div class="grid--1X2">
  <div class="first--side">
    <div class="svg--container">
      <svg class="svg--icon">
        <use xlink:href="./images/sprite.svg#wordpress"></use>
      </svg>
    </div>
    <h1>WordPress made Easy</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
      perspiciatis similique natus dolores
    </p>
    <h2 class="arrow">LEARN MORE</h2>
  </div>
  <div class="second--side">
    <img class="easy--img" src="./images/wordpress.jpg" alt="" />
  </div>
</div>
