<div class="footer--div">
  <div class="footer">
    <div>
      <div class="footer__one">
        <h1 class="footer__h1">PRODUCTS</h1>
        <div class="chevron1 svg--container">
          <svg class="svg--icon icon--white">
            <use xlink:href="./images/sprite.svg#chevron"></use>
          </svg>
        </div>
      </div>
      <div class="footer__oneitems hide">
        <ul>
          <li>Website Hosting</li>
          <li>Free Automated Wordpress</li>
          <li>Migrations</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="footer__one">
        <h1 class="footer__h1">COMPANY</h1>
        <div class="chevron2 svg--container">
          <svg class="svg--icon icon--white chev--rotate">
            <use xlink:href="./images/sprite.svg#chevron"></use>
          </svg>
        </div>
      </div>
      <div class="footer__twoitems hide">
        <ul>
          <li>About</li>
          <li>Affiliates</li>
          <li>Blog</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="footer__one">
        <h1 class="footer__h1">SUPPORT</h1>
        <div class="chevron3 svg--container">
          <svg class="svg--icon icon--white">
            <use xlink:href="./images/sprite.svg#chevron"></use>
          </svg>
        </div>
      </div>
      <div class="footer__threeitems hide">
        <ul>
          <li>Contact</li>
          <li>Knowledge Base</li>
          <li>FAQ</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="footer__one">
        <h1 class="footer__h1">DOMAINS</h1>
        <div class="chevron4 svg--container">
          <svg class="svg--icon icon--white">
            <use xlink:href="./images/sprite.svg#chevron"></use>
          </svg>
        </div>
      </div>
      <div class="footer__fouritems hide">
        <ul>
          <li>Domain Checker</li>
          <li>Domain Transfer</li>
          <li>Free Domain</li>
        </ul>
      </div>
    </div>
    <div class="footer__img">
      <img src="./images/logo.svg" alt="" />
      <p>Copyright 2020</p>
    </div>
  </div>
</div>
