<div class="nav">
  <img class="nav--img" src="./images/logo.svg" alt="" />

  <img class="nav--menu" src="./images/menuwhite.png" alt="" />
  <div class="nav--one">
    <ul class="nav__links">
      <li class="nav--item1">Hosting</li>
      <li class="nav--item2">VPS</li>
      <li class="nav--item3">Domain</li>
      <li class="nav--item4">Pricing</li>
    </ul>
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <div class="nav--other">
    <ul class="nav--links">
      <li class="nav--item1">Hosting</li>
      <li class="nav--item2">VPS</li>
      <li class="nav--item3">Domain</li>
      <li class="nav--item4">Pricing</li>
    </ul>
  </div>
</div>
