<div class="search">
  <div class="search__heading">
    <h1>Starting at $10 Per Month</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, illo!
    </p>
    <div class="search__bar">
      <input
        class="search__input"
        placeholder="Enter domain name here"
        type="text"
      />
      <div class="icon">
        <a class="btn btn--primary btn--search" href="#">Search</a>
        <!-- <svg>
              <use xlink:href="./images/sprite.svg#search"></use>
            </svg> -->
      </div>
    </div>
  </div>

  <div class="search__domain">
    <h1 class="domains btn btn--domain">.com $9</h1>
    <h1 class="domains">.com $9</h1>
    <h1 class="domains">.com $9</h1>
    <h1 class="domains">.com $9</h1>
    <h1 class="domains">.com $9</h1>
    <h1 class="domains">.com $9</h1>
  </div>
</div>
