<div class="test--panel">
      <h1>What our customers are saying</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      <div class="test">
        <div class="test__first">
          <div>
            <img class="test__img" src="./images/testimonial.jpg" alt="" />
            <!-- <span class="quote">
              <svg class="svg--icon icon--orange">
                <use xlink:href="./images/sprite.svg#quotes"></use>
              </svg> -->
            </span>
          </div>
        </div>

        <div class="test__second">
          <div class="test__content">
            <q>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae tenetur nulla voluptatum voluptatibus optio. Quisquam
              impedit
            </q>
          </div>
        </div>
      </div>
    </div>