<div class="nav">
  <img class="nav--img" src="./images/logo.svg" alt="" />

  <img class="nav--menu" src="./images/menuwhite.png" alt="" />
  <div class="nav--one">
    <ul class="nav__links">
      <li class="nav--item1">Hosting</li>
      <li class="nav--item2">VPS</li>
      <li class="nav--item3">Domain</li>
      <li class="nav--item4">Pricing</li>
    </ul>
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <div class="nav--other">
    <ul class="nav--links nav--links2">
      <li class="nav--item1">Hosting</li>
      <li class="nav--item2">VPS</li>
      <li class="nav--item3">Domain</li>
      <li class="nav--item4">Pricing</li>
    </ul>
  </div>
</div>

<section class="block block--skewed">
  <div class="grid--1x2">
    <div class="hero--content">
      <h1 class="hero--heading">Cloud Hosting for Pros</h1>
      <p class="hero--p">Deploy your website in less than 60 seconds</p>
      <a href="#" class="btn btn--primary hero--btn">Get strated</a>
    </div>
    <div class="hero--image">
      <img class="hero--img" src="./images/banner.webp" alt="" />
    </div>
  </div>
</section>

<div class="card">
  <div class="card__content1">
    <div class="card__heading1">
      <h3 class="card__plan">Entry</h3>
      <div class="badge--container">
        <h1 class="card__price">
          <span class="card__prices">$14</span> /month
        </h1>
        <div class="btn btn--badge badge--2" href="#">10% OFF</div>
      </div>
      <h2 class="card__desc">Easy Start on the Cloud</h2>
    </div>
    <ul class="card__list">
      <li class="card__item">Unlimited Websites</li>
      <li class="card__item">Unlimited Bandwidth</li>
      <li class="card__item">100 GB SSD Storage</li>
      <li class="card__item">3 GB RAM</li>
    </ul>
    <a class="btn btn--card" href="#">BUY NOW</a>
  </div>
  <div class="card__content2">
    <div class="card__heading2">
      <h3 class="card__plan">Entry</h3>
      <div class="badge--container">
        <h1 class="card__price">
          <span class="card__prices">$14</span> /month
        </h1>
        <div class="btn btn--badge badge--1" href="#">10% OFF</div>
      </div>

      <h2 class="card__desc">Easy Start on the Cloud</h2>
    </div>
    <ul class="card__list">
      <li class="card__item">Unlimited Websites</li>
      <li class="card__item">Unlimited Bandwidth</li>
      <li class="card__item">100 GB SSD Storage</li>
      <li class="card__item">3 GB RAM</li>
    </ul>
    <a class="btn btn--card" href="#">BUY NOW</a>
  </div>
  <div class="card__content3">
    <div class="card__heading3">
      <h3 class="card__plan">Entry</h3>
      <div class="badge--container">
        <h1 class="card__price">
          <span class="card__prices">$14</span> /month
        </h1>
        <div class="btn btn--badge badge--2" href="#">10% OFF</div>
      </div>

      <h2 class="card__desc">Easy Start on the Cloud</h2>
    </div>
    <ul class="card__list">
      <li class="card__item">Unlimited Websites</li>
      <li class="card__item">Unlimited Bandwidth</li>
      <li class="card__item">100 GB SSD Storage</li>
      <li class="card__item">3 GB RAM</li>
    </ul>
    <a class="btn btn--card" href="#">BUY NOW</a>
  </div>
</div>
